 <%
    var name = 'Unknown';
    var photo = "images/signedout.png";
  if(locals.user){
    if(locals.user.facebook.name != null){
      name = locals.user.facebook.name;
      photo = locals.user.facebook.photo;
    }else if(locals.user.twitter.username != null){
      name = locals.user.twitter.username;
      photo = locals.user.twitter.photo;
    }else if(locals.user.google.name != null){
      name = locals.user.google.name;
      photo = locals.user.google.photo;
    }else if(locals.user.local.email != null){
      name = locals.user.local.email;
      photo = "images/signedout.png";
    }
  }
 %>

  <div class="container">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a id="quizheadername" href="/">Quiz Game</a>
        </div>
        <% if(locals.user){ %>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="<%= photo %>" height="60px" width="60px"><span class="caret"></span></img>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">Signed in as <b> <%= name %></b></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/">Game</a>
              <a class="dropdown-item" href="/scoreboard">Scoreboard</a>
              <a class="dropdown-item" href="/profile">Your Profile</a>
            <% if(locals.user.permissions.admin){ %>
              <a class="dropdown-item" href="/admin">Admin</a>
            <% } %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Logout</a>
              
            </ul>
          </div>

        <% }else{ %>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="/images/signedout.png" height="60px" width="60px"><span class="caret"></span></img>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/login">Login</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/scoreboard">Scoreboard</a>
            </ul>   
          </div>

        <% } %>
      </div>
    </nav>
  </div>

