<header>
  <div class="container">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a id="quizheadername" href="#">Quiz Game</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/13925243_10104153418093858_2847604870075976017_n.jpg?oh=633e5bb5caac309c5bd2c7e6fd53e962&oe=5AB65DB3"></img>
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a>Signed in as <b>itravers</b></a></li>
              <li class="divider"></li>
              <li><a href="#">Your Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>

