<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
<header>
  <% include partials/header %>
</header>

  <div class="container" id="quizgamescore">
    Score 125
  </div>

  <div class="container col-sm-8 col-sm-offset-1" id="quizgamequestion">
    <p>
      He aided his friend, architect Josef Hoffmann, by painting a series of mosaic murals in the Palais Stoclet, a Brussels mansion designed by Hoffmann. His best known works are later portraits like Judith I and Frau Fritsa Reidler, which were better received than early murals like the set Philosophy, Medicine, and Jurisprudence. As founder of the Sezessionstil [se-zess-one-schteel], he directed the art nouveau movement in his country. FTP, name this leader of the Vienna Secession movement, the Austrian painter of The Kiss.
  </p>
  </div>

  <div class="container col-md-8" id="quizgameanswers">
    <div class="btn-group btn-group-justified">
     <a href="#" class="btn btn-primary btn-responsive">John Dewey</a>
     <a href="#" class="btn btn-primary btn-responsive">Gustav Klimt</a>
     <a href="#" class="btn btn-primary btn-responsive">Arnold Schoenberg</a>
     <a href="#" class="btn btn-primary btn-responsive">Henry Clay</a>
    </div> 
    <div class="btn-group btn-group-justified">
     <a href="#" class="btn btn-primary btn-responsive">Wilmot Priviso</a>
     <a href="#" class="btn btn-primary btn-responsive">Kings Mountain</a>
     <a href="#" class="btn btn-primary btn-responsive">Benjamin Harrison</a>
     <a href="#" class="btn btn-primary btn-responsive">Abraham Lincoln</a>
    </div> 
    <div class="btn-group btn-group-justified">
     <a href="#" class="btn btn-primary btn-responsive">Tecumseh</a>
     <a href="#" class="btn btn-primary btn-responsive">Haymarket Square Riot</a>
     <a href="#" class="btn btn-primary btn-responsive">Aaron Burr</a>
     <a href="#" class="btn btn-primary btn-responsive">Chester Alan Arthur</a>
    </div>

  </div>

  <footer>
    <% include partials/footer %>
  </footer>

</body>
</html>
