<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/stylesheets/style.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header>
  <div class="container">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a id="quizheadername" href="#">Quiz Game</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/13925243_10104153418093858_2847604870075976017_n.jpg?oh=633e5bb5caac309c5bd2c7e6fd53e962&oe=5AB65DB3"></img>
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a>Signed in as <b>itravers</b></a></li>
              <li class="divider"></li>
              <li><a href="#">Your Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

  <div class="container" id="quizgamescore">
    Score 125
  </div>

  <div class="container col-sm-8 col-sm-offset-1" id="quizgamequestion">
    <p>
      He aided his friend, architect Josef Hoffmann, by painting a series of mosaic murals in the Palais Stoclet, a Brussels mansion designed by Hoffmann. His best known works are later portraits like Judith I and Frau Fritsa Reidler, which were better received than early murals like the set Philosophy, Medicine, and Jurisprudence. As founder of the Sezessionstil [se-zess-one-schteel], he directed the art nouveau movement in his country. FTP, name this leader of the Vienna Secession movement, the Austrian painter of The Kiss.
  </p>
  </div>

  <div class="container col-md-8" id="quizgameanswers">
    <div class="btn-group btn-group-justified">
     <a href="#" class="btn btn-primary btn-responsive">John Dewey</a>
     <a href="#" class="btn btn-primary btn-responsive">Gustav Klimt</a>
     <a href="#" class="btn btn-primary btn-responsive">Arnold Schoenberg</a>
     <a href="#" class="btn btn-primary btn-responsive">Henry Clay</a>
    </div> 
    <div class="btn-group btn-group-justified">
     <a href="#" class="btn btn-primary btn-responsive">Wilmot Priviso</a>
     <a href="#" class="btn btn-primary btn-responsive">Kings Mountain</a>
     <a href="#" class="btn btn-primary btn-responsive">Benjamin Harrison</a>
     <a href="#" class="btn btn-primary btn-responsive">Abraham Lincoln</a>
    </div> 
    <div class="btn-group btn-group-justified">
     <a href="#" class="btn btn-primary btn-responsive">Tecumseh</a>
     <a href="#" class="btn btn-primary btn-responsive">Haymarket Square Riot</a>
     <a href="#" class="btn btn-primary btn-responsive">Aaron Burr</a>
     <a href="#" class="btn btn-primary btn-responsive">Chester Alan Arthur</a>
    </div>

  </div>

</body>
</html>
