<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>

</head>
<body>
<header>
  <% include partials/header %>
</header>

  <div class="jumbotron small-jumbotron col-sm-12">
    <h4><span class="fa fa-user"></span> Users </h4>
    <div class="row users">

<!-- This block of code actually gets written by client
      <div class="card col-sm-3">
        <div class="card-block">
          <div class="card-title text-center">
            <h5>Slack</h5>
          </div>
          <div class="chat">
            <div>Hello There</div>
            <div>Is this thing on?</div>
          </div>
        </div>
      </div>
-->
    </div>
    <br>
    <div class="row chat">
      <input class="form-control col-sm-4" id="chatInput" type="text"></input>
      <button type="button" class="btn btn-primary" onclick="sendChat()">Chat</button>
    </div> 

  </div><!-- end jumbotron -->


<div class="container col-sm-12 lobby">

  <div class="page-header text-center">
    <h1><span class="fa fa-users"></span>
      <%= title %>
    </h1>
  </div>

  <div class="jumbotron col-sm-12">
  <table class="table table-hover" id="roomsTable">
    <thead>
      <tr>
        <th> Game Name </th>
        <th> Seconds / Question </th>
        <th> Status </th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-info">
        <td> New Game </td>
        <td>
          <label class="mr-sm-2" for="secondsInput">Seconds Per Question</label>
          <input class="form-control col-sm-2" id="secondsInput" type="number" min="5" max="60" value="20"></input>
        </td>
        <td></td>
        <!--
        <td>
            <div class="radio">
              <label><input type="radio" name="optradio" id="dif1" dif="1">Easy</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" id="dif2" dif="2">Normal</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" id="dif3" dif="3">Hard</label>
            </div>
        </td>
        -->
        <td>
          <button type="button" class="btn btn-warning" id="createButton" onclick="createRoom()">Create</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div> <!-- end jumbotron -->
</div>

<div class="container col-sm-12 gameroom">
  <div class="text-center">
    <div class="container" id="quizgamestatus">
       Getting Status
    </div>
    <div id="statusChangeDiv"></div>
  </div>

</div>

<div class="container col-sm-6">
  <div id="conversation"></div>
</div>



  <footer>
    <% include partials/footer %>
  </footer>

  <script>
    var serverIP = "<%= serverIP %>";
    var name = "<%= name %>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/lobby.js"></script>
</body>
</html>
