<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>

</head>
<body>
<header>
  <% include partials/header %>
</header>

<div class="container">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Report Problem</h4>
      </div>
      <div class="modal-body">
        <b> What is the problem with this question?</b><br>
        <div class="radio">
          <label><input type="radio" name="optradio" checked>Malformed Question</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio">Wrong Answer</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio">Other</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" onclick="reportProblemClicked()" data-dismiss="modal">Send Report</button>
      </div>
    </div>
  </div>
</div>
</div>


  <div class="jumbotron small-jumbotron col-sm-12">
    <h4><span class="fa fa-user"></span> Users </h4>
    <div class="row users">

<!-- This block of code actually gets written by client
      <div class="card col-sm-3">
        <div class="card-block">
          <div class="card-title text-center">
            <h5>Slack</h5>
          </div>
          <div class="chat">
            <div>Hello There</div>
            <div>Is this thing on?</div>
          </div>
        </div>
      </div>
-->
    </div>
    <br>
    <div class="row chat">
      <input class="form-control col-sm-4" id="chatInput" type="text"></input>
      <button type="button" class="btn btn-primary" onclick="sendChat()">Chat</button>
    </div> 

  </div><!-- end jumbotron -->


<div class="container col-sm-12 lobby">

  <div class="page-header text-center">
    <h1><span class="fa fa-users"></span>
      <%= title %>
    </h1>
  </div>

  <div class="jumbotron col-sm-12">
  <table class="table table-hover" id="roomsTable">
    <thead>
      <tr>
        <th> Game Name </th>
        <th> Seconds / Question </th>
        <th> Turns / Round </th>
        <th> Status </th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-info">
        <td> New Game </td>
        <td>
          <label class="mr-sm-2" for="secondsInput">Seconds Per Question</label>
          <input class="form-control col-sm-2" id="secondsInput" type="number" min="5" max="60" value="20"></input>
        </td>
        <td>
          <label class="mr-sm-2" for="turnsInput">Turns Per Round</label>
          <input class="form-control col-sm-2" id="turnsInput" type="number" min="5" max="60" value="10"></input>
        </td>
        <td></td>
        <!--
        <td>
            <div class="radio">
              <label><input type="radio" name="optradio" id="dif1" dif="1">Easy</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" id="dif2" dif="2">Normal</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" id="dif3" dif="3">Hard</label>
            </div>
        </td>
        -->
        <td>
          <button type="button" class="btn btn-warning" id="createButton" onclick="createRoom()">Create</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div> <!-- end jumbotron -->
</div>

<div class="container col-sm-12 gameroom">
  <div class="text-center">
    <div id="roundDiv"></div> 
    <div class="container" id="quizgamestatus">
       Getting Status
    </div>
    <div id="timerDiv"></div>
    <div id="statusChangeDiv"></div>
  </div>

  <div class="container col-sm-10 col-sm-offset-1" id="quizgamequestion">
    <p id="quizgamecategory">
      This is a Category
    </p>
      <br>
      <a class="reportProblem reportProblemMultiplayer" data-toggle="modal" data-target="#myModal" href="">Report Problem With Question</a>
    <p id="questionText">
      This is the question
    </p>
  </div>

  <div class="container col-md-12" id="quizgameanswers">

  </div>

  <div class="container col-md-12" id="endgame">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Place</th>
          <th>Name</th>
          <th>Score</th>
          <th>Bonus</th>
        </tr>
      </thead>
      <tbody id="endgamebody">
        <tr>
          <td>1</td>
          <td>Isaac</td>
          <td>68</td>
          <td>100</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="container col-sm-6">
  <div id="conversation"></div>
</div>



  <footer>
    <% include partials/footer %>
  </footer>

  <script>
    var serverIP = "<%= serverIP %>";
    var name = "<%= name %>";
    var id = "<%= id %>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/lobby.js"></script>
</body>
</html>
