<!doctype html>
<html>
<head>
  <% include partials/head %>
  <script>
    //don't penalize if user came to this page
    sessionStorage.removeItem("not_answered");
  </script>

</head>
<body>
<header>
  <% include partials/header %>
</header>


<div class="col-md-6 col-centered">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>
    <div class="jumbotron">

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Signup</button>
    </form>
    </div>

    <div class="divider"></div>


    <h1><span class="fa fa-sign-in"></span> Social Signup</h1>
    <div class="jumbotron text-center">

        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    </div>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>



<footer>
  <% include partials/footer %>
</footer>

</body>
</html>


